{{ hiddenInput('paymentId', element.id) }}
{% if element.getFieldLayout() %}

{% set form = element.getFieldLayout().createForm(element) %}
<div id="fields">
    {{ form.render()|raw }}
</div>
{% endif %}

<hr>
<div>
    <h2>{{ "Transactions"|t }}</h2>
    {% include 'mollie-payments/_includes/_transactions.twig' with {transactions : transactions, element: element } only %}
</div>

{% hook 'cp.payments.edit.content' %}