{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl ?? "" %}

{% set title = "blaa" %}
{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
{% endblock %}
{% set tabData = [] %}
{% for tab in element.getFieldLayout().getTabs() %}
    {% set data = { label: tab.name, url: '#' ~ tab.getHtmlId()} %}
    {% set tabData = tabData|merge({ (tab.id) : data}) %}
{% endfor %}
{% set tabs = tabData %}


{% block content %}
{% set tabs = element.getFieldLayout().getTabs() %}

    {% for tab in element.getFieldLayout().getTabs() %}
        <div id="{{ tab.getHtmlId() }}" {% if not loop.first %} class="hidden"{% endif %}>
            {% include "_includes/fields" with {
                fields:  tab.getFields(),
                element: element
            } only %}
        </div>
    {% endfor %}
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
    </div>
{% endblock %}