{% set tabData = [] %}
{% if element.getFieldLayout() %}
    {% for tab in element.getFieldLayout().getTabs() %}
        {% set data = { label: tab.name, url: '#' ~ tab.getHtmlId()} %}
        {% set tabData = tabData|merge({ (tab.id) : data}) %}
    {% endfor %}
{% endif %}
{% set tabData = tabData|merge( {translactions: { label: 'Transactions'|t('mollie-payments'), url : "#tab-transactions"} }) %}

{% set tabs = tabData %}


{% if element.getFieldLayout() %}
    {% set form = element.getFieldLayout().createForm(element) %}
    <div id="fields">
        {{ form.render()|raw }}
    </div>
{% endif %}

<hr>
<div>
    <h2>{{ "Transactions"|t }}</h2>
    {% include 'mollie-payments/_payment/_transactions.twig' with {transactions : transactions } only %}
</div>
{% hook 'cp.subscriptions.edit.content' %}